/student*/.env
/student*/log

/student_rails/.bundle
/student_rails/.env*
/student_rails/log/*
/student_rails/tmp/*
/student_rails/!/log/.keep
/student_rails/!/tmp/.keep
/student_rails/tmp/pids/*
/student_rails/!/tmp/pids/
/student_rails/!/tmp/pids/.keep
/student_rails/storage/*
/student_rails/!/storage/.keep
/student_rails/tmp/storage/*
/student_rails/!/tmp/storage
/student_rails/!/tmp/storage/.keep
/student_rails/public/assets

/student_rails/config/master.key

/hotel_mvc/.env