<div id="lab-modal" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Лабораторная работа</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="lab-form">
                    <div class="mb-3">
                        <label for="name" class="form-label">Наименование</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="topics" class="form-label">Темы</label>
                        <textarea class="form-control" id="topics" name="topics" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="tasks" class="form-label">Задачи</label>
                        <textarea class="form-control" id="tasks" name="tasks" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="date-of-issue" class="form-label">Дата выдачи</label>
                        <input type="date" class="form-control" id="date-of-issue" name="date-of-issue" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" id="save-button">OK</button>
            </div>
        </div>
    </div>
</div>
